@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Roboto+Slab:400,700);
/* line 3, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
body {
  font-family: "Roboto Slab", serif; }

/* line 6, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
.container {
  width: 800px;
  margin: 0px auto; }

/* line 10, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
#doc {
  font-size: 14pt; }
  /* line 12, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  #doc .highlight {
    font-family: "Ubuntu Mono", monospace;
    line-height: 18pt; }
  /* line 16, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  #doc footer {
    margin-top: 60px;
    text-align: right;
    color: #777777; }

/* line 22, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
.highlight {
  background: #eeeeee;
  padding: 18pt;
  margin: 0; }
  /* line 25, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  .highlight.c {
    font-style: normal; }
  /* line 27, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  .highlight .c1 {
    font-style: normal; }
  /* line 29, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  .highlight .nb, .highlight .nf, .highlight .k {
    font-weight: 700; }
  /* line 31, /Users/adam-home/Projects/learn-code-in-15/source/css/screen.css.sass */
  .highlight .n {
    color: #333333; }
